In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
from pandas_profiling import ProfileReport
import sklearn

In [15]:
#load dataset
dataset_folder = r"G:\My Drive\Desmond\DS_Project\1_Github\Grocery_Project"

In [18]:
df_main = pd.read_csv(dataset_folder + "\Australia_Grocery_2022Sep.csv")

In [19]:
df_main.head()

,index,Postal_code,Category,Sub_category,Product_Group,Product_Name,Package_price,Price_per_unit,package_size,is_estimated,...,Retail_price,Product_Url,Brand,Sku,RunDate,unit_price,unit_price_unit,state,city,tid
0,0,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Necks,7.15,$6.50 per 1Kg,approx. 1.1kg,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1491280P,2022-11-09 08:23:06,6.50,1Kg,NSW,TEMPE,29742568
1,1,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Livers,5.40,$9.00 per 1Kg,approx. 600g,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,1718058P,2022-11-09 08:23:06,9.00,1Kg,NSW,TEMPE,29742569
2,2,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Giblets,4.50,$7.50 per 1Kg,approx. 600g,1,...,NaN,https://shop.coles.com.au/a/alexandria/product...,Coles,2565429P,2022-11-09 08:23:06,7.50,1Kg,NSW,TEMPE,29742570
3,3,2044,Meat & seafood,Poultry,Chicken offal,RSPCA Approved Chicken Frames,3.38,$4.50 per 1Kg,approx. 750g each,1,...,4.13,https://shop.coles.com.au/a/alexandria/product...,Coles,3199541P,2022-11-09 08:23:06,4.50,1Kg,NSW,TEMPE,29742571
4,4,2044,Meat & seafood,Poultry,Crumbed chicken,RSPCA Chicken Schnitzel Plain Crumb,10.50,$8.75 per 1Kg,1.2kg,0,...,11.00,https://shop.coles.com.au/a/alexandria/product...,Coles,2904193P,2022-11-09 08:23:06,8.75,1Kg,NSW,TEMPE,29742572

In [20]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488640 entries, 0 to 488639
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   index            488640 non-null  int64
 1   Postal_code      488640 non-null  int64
 2   Category         488640 non-null  object
 3   Sub_category     488640 non-null  object
 4   Product_Group    488640 non-null  object
 5   Product_Name     488640 non-null  object
 6   Package_price    487313 non-null  float64
 7   Price_per_unit   485498 non-null  object
 8   package_size     487869 non-null  object
 9   is_estimated     488640 non-null  int64
 10  is_special       488640 non-null  int64
 11  in_stock         36454 non-null   object
 12  Retail_price     136953 non-null  float64
 13  Product_Url      488640 non-null  object
 14  Brand            488640 non-null  object
 15  Sku              488640 non-null  object
 16  RunDate          488640 non-null  object
 17  unit_price       485498 non-null  float64
 18  unit_price_unit  485498 non-null  object
 19  state            488640 non-null  object
 20  city             488640 non-null  object
 21  tid              488640 non-null  int64
dtypes: float64(3), int64(5), object(14)
memory usage: 82.0+ MB

In [21]:
df_main.describe()

,index,Postal_code,Package_price,is_estimated,is_special,Retail_price,unit_price,tid
count,488640.000000,488640.000000,487313.000000,488640.000000,488640.000000,136953.000000,485498.000000,4.886400e+05
mean,244319.500000,5595.886211,6.405709,0.044865,0.262674,7.376241,7.128668,2.998689e+07
std,141058.362106,2886.393639,5.900584,0.207009,0.440087,6.107393,14.066773,1.410584e+05
min,0.000000,800.000000,0.010000,0.000000,0.000000,0.630000,0.000000,2.974257e+07
25%,122159.750000,3013.000000,3.300000,0.000000,0.000000,4.000000,1.200000,2.986473e+07
50%,244319.500000,5163.000000,5.000000,0.000000,0.000000,5.600000,2.410000,2.998689e+07
75%,366479.250000,9056.000000,7.500000,0.000000,1.000000,8.500000,5.670000,3.010905e+07
max,488639.000000,9617.000000,200.000000,1.000000,1.000000,55.000000,336.840000,3.023121e+07

In [23]:
#missing values
df_main.isna().sum()

index                   0
Postal_code             0
Category                0
Sub_category            0
Product_Group           0
Product_Name            0
Package_price        1327
Price_per_unit       3142
package_size          771
is_estimated            0
is_special              0
in_stock           452186
Retail_price       351687
Product_Url             0
Brand                   0
Sku                     0
RunDate                 0
unit_price           3142
unit_price_unit      3142
state                   0
city                    0
tid                     0
dtype: int64

In [26]:
df_main[df_main.duplicated()]

Empty DataFrame
Columns: [index, Postal_code, Category, Sub_category, Product_Group, Product_Name, Package_price, Price_per_unit, package_size, is_estimated, is_special, in_stock, Retail_price, Product_Url, Brand, Sku, RunDate, unit_price, unit_price_unit, state, city, tid]
Index: []

[0 rows x 22 columns]